/* Chatbot Section */
.chatbot {
    margin-top: 9rem;
    margin-bottom: 18rem;
    padding: 4rem 7%;
    background: var(--bg);
}

.chatbot .heading {
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 4rem;
    font-size: 4rem;
    margin-top: 2rem;
}

.chatbot-container {
    width: 100%;
    max-width: 800px; /* Adjust width as needed */
    margin: 0 auto; /* Center the container */
    border: 1px solid var(--main-color);
    border-radius: 10px;
    overflow: hidden;
    background: var(--white);
    box-shadow: var(--box-shadow);
}

#chatling-inline-bot {
    width: 100%;
    height: 500px; /* Adjust height as needed */
}